<% @strikes.each do |strike| %>
    <tr>
        <td><%= strike.score_a %></td>
        <td><%= strike.score_b %></td>
        <td><%= strike.bat %></td>
        <td><%= strike.ball %></td>
    </tr>
<% end %>
